*{
    margin: 0;
    padding: 0;
    font-family: sans-serif;
    box-sizing: border-box;
}
h1{
    color: orange;
    font-size: 50px;
    margin: 20px 0;
}
div img{
    margin: 20px 500px;
    width: 45%;
    height: 90%;
    position:absolute;
    bottom: 10px;
    margin-left: 600px;
    
}

h3{
    font-family: sans-serif;
    font-weight: bold;
    color: orange;
    text-decoration: none;
    margin: 20px 0;
    
}
main{
    padding: 100px;
    margin-top: 70px;
}

#space{
    margin: 15px 0;
}
#link{
    text-decoration: none;
    margin: 15px 0;
}
#button{
    color: white;
    background-color: orange;
    text-decoration: none;
    padding: 15px 25px;
    border-radius: 5px;
    margin-top: 100px;
    font-weight: bold;
}

.home{
    margin-top: 40px;@media only screen and (orientation: portrait) {
.content {
    flex-direction: column;
  }
}

@media only screen and (orientation: landscape) {
  .content {
    flex-direction: row;
  }
}

    
}
